<div class="main-content container">

  <div class="row">

    <div class="col-xs-12">

      <h4>our website is</h4>
      <h1>coming soon!</h1>
      <p>We have been spending long hours in order to launch our new website. Stay tuned!</p>

    </div>

  </div>

  <div class="row">

    <div class="col-xs-12">

      <img class="logo" src="{{cdnUrl}}/assets/images/logo.jpg">

    </div>

  </div>

  <div class="contact-form">

    <div class="row">

      <div class="col-xs-12">

        <p>Contact us for any inquiries</p>

      </div>

    </div>

    <div class="row">

      <div class="col-xs-12">

        <wms-contact-form>loading contact form...</wms-contact-form>

      </div>

    </div>

  </div>

</div>

<wms-footer>loading footer...</wms-footer>
	
